.app {
  .app-header {
    height: 150px;
    padding: 30px;
    background-color: $blue;
    color: $white;
    text-align: center;

    .app-title {
      font-size: 1.5em;
    }
  }

  .app-container {
    margin: 30px auto;

    @include media-breakpoint-only(xs) {
      margin-top: 15px;
    }
  }
  
  .app-footer {
    height: 150px;
    padding: 30px;
    background-color: $blue;
    color: $white;
    text-align: center;

    a, a:visited {
      color: $white;
    }
  }

  .filter-row {
    margin-bottom: 15px;

    .header-col {
      padding-top: 7px;
    }

    .filters-col {
      max-height: 194px;
      overflow: auto;
    }

    .filter {
      margin-top: 5px;
    }
  }
}