.filter {
  display: inline-block;
  padding: 0 10px;
  color: $text;
  border: 2px solid;
  border-radius: 12px;
  user-select: none;

  &.tag {
    border-color: $blue;
    &:hover {
      background-color: $light-blue;
    }
  }

  &.role {
    border-color: $orange;
    &:hover {
      background-color: $light-orange;
    }
  }

  &.type {
    border-color: $green;
    &:hover {
      background-color: $light-green;
    }
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &.active.tag {
    color: $white;
    background-color: $blue;
  }

  &.active.role {
    color: $white;
    background-color: $orange;
  }

  &.active.type {
    background-color: $green;
  }

  &.clickable {
    cursor: pointer;
  }

  .name {
    font-size: 14px;
  }

  .count {
    font-size: 14px;
  }
}