body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $text;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}