.project {
  margin-top: 20px;
  padding: 15px 18px;
  border: 1px solid $gray-border;
  border-radius: 12px;
  display: flex;

  .left-area {
    flex-basis: 162px;

    img {
      width: 100%;
      vertical-align: middle;
      border: 1px solid $light-gray-border;
      cursor: pointer;
    }
  }

  .right-area {
    flex: 1;

    @include media-breakpoint-up(sm) {
      padding-left: 20px;
    }
  }

  .header-row {
    display: flex;
    flex-wrap: wrap;

    .header {
      h1 {
        font-size: 1.2em;
      }
    }

    .header-time {
      font-style: italic;
    }

    .header, .header-time {
      margin-right: 30px;
    }
  }

  .tags {
    margin: 12px 0;
  }

  .links {
    a {
      display: block;
      font-style: italic;
    }
  }

  .images {
    margin-top: 20px;

    img {
      max-width: 200px;
      max-height: 60px;
      border: 1px solid $light-gray-border;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  .filter {
    padding: 0px 7px;
    font-size: 13px;
  }
}