.project {
  margin-top: 10px;
  padding: 25px 0 15px 0;
  border-top: 1px solid $gray-border;
  display: flex;

  .left-area {
    flex-basis: 240px;

    img {
      width: 100%;
      vertical-align: middle;
      cursor: pointer;
    }
  }

  .right-area {
    flex: 1;

    @include media-breakpoint-up(md) {
      padding-left: 30px;
    }
  }

  .header-row {
    display: flex;
    flex-wrap: wrap;

    .header {
      h1 {
        font-size: 1.2em;
        font-weight: 550;
      }
    }

    .header-time {
      font-style: italic;
    }

    .header, .header-time {
      margin-right: 30px;
    }

    .filter {
      margin-top: 0;
    }
  }

  .tags {
    margin: 7px 0 12px 0;
  }

  .links {
    a {
      display: block;
      font-style: italic;
    }
  }

  .images {
    margin-top: 20px;

    img {
      max-width: 200px;
      max-height: 60px;
      border: 1px solid $light-gray-border;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  .filter {
    margin-top: 5px;
    padding: 0px 7px;
    font-size: 13px;

    .name {
      font-size: 13px;
    }
  }
}