$text: #212529;
$black: #000;
$white: #fff;
$light-blue: #bbdefb;
$blue: #2196F3;
$blue10: rgba(33, 150, 243, 0.1);
$light-purple: #D1C4E9;
$purple: #673AB7;
$light-orange: #F48FB1;
$orange: #E91E63;
$gray-border: #bbb;
$light-gray-border: #ccc;
$gray-link: #eee;
