$text: #212529;
$black: #000;
$white: #fff;
$light-blue: #bbdefb;
$blue: #2196F3;
$light-green: #b9f6ca;
$green: #00E676;
$light-orange: #ffe0b2;
$orange: #FF9800;
$gray-border: #bbb;
$light-gray-border: #ccc;
